
.department-list {

    .btn-control-department {
        display: flex;
        justify-content: space-evenly;
    }

    .btn-group-list {
        float: right;
        margin-top: -10px;
        margin-bottom: 20px;
    }
}